@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-fira-sans: "Fira Sans";
  --font-playfair-display: "Playfair Display";
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-37xl: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --font-size-3xl: 22px;
  --font-size-xs: 12px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-32xl: 51px;
  --font-size-12xl: 31px;
  --font-size-22xl: 41px;
  --font-size-89xl: 108px;
  --font-size-13xl: 32px;
  --font-size-35xl: 54px;
  --font-size-53xl: 72px;
  --font-size-24xl: 43px;
  --font-size-39xl: 58px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #1c1917;
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --color-darkgray: #a8a29e;
  --color-whitesmoke-100: #fafaf9;
  --color-whitesmoke-200: #f5f5f4;
  --color-darkorange: #f97316;
  --color-dimgray: #78716c;
  --color-gainsboro: #e7e5e4;
  --color-papayawhip: rgba(255, 237, 213, 0.5);

  /* Gaps */
  --gap-61xl: 80px;
  --gap-xl: 20px;
  --gap-21xl: 40px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-45xl: 64px;
  --gap-xs: 12px;
  --gap-9xs: 4px;
  --gap-lgi: 19px;
  --gap-20xl: 39px;
  --gap-5xs: 8px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;

  /* Paddings */
  --padding-61xl: 80px;
  --padding-45xl: 64px;
  --padding-13xl: 32px;
  --padding-33xl: 52px;
  --padding-93xl: 112px;
  --padding-54xl: 73px;
  --padding-11xs: 2px;
  --padding-76xl: 95px;
  --padding-xl: 20px;
  --padding-sm: 14px;
  --padding-4xl: 23px;
  --padding-9xs: 4px;
  --padding-xs-5: 11.5px;
  --padding-5xl: 24px;
  --padding-101xl: 120px;
  --padding-base: 16px;
  --padding-59xl: 78px;
  --padding-25xl: 44px;
  --padding-3xl: 22px;
  --padding-2xl: 21px;
  --padding-mini: 15px;
  --padding-4xs: 9px;
  --padding-12xs: 1px;
  --padding-32xl: 51px;
  --padding-77xl: 96px;
  --padding-21xl: 40px;
  --padding-43xl: 62px;
  --padding-11xl: 30px;
  --padding-29xl: 48px;
  --padding-2xs: 11px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-13xl: 32px;
  --br-29xl: 48px;
  --br-9xs: 4px;
}
